
.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.data {
    text-align: center;
}

.text {
    width: 90%;
    height: 300px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}

.button {
    width: 20%;
    height: 50px;
    display: inline-block;
}